@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  --bgColor: #93aabf4d;
  /* --bgColor: #deb887; */
  --borderBottom: #93aabf4d;
  --bs-box-shadow-md: 0 1rem 3rem #93aabf4d;
  --button-hover: #7fafcb;

  --bg-lite-clr: #daebf2;
}
